<input hidden="hidden" value="@(Model.Id)" id="cur_id" name="cur_id" />
<div class="form-group">
    <label for="cost">Money spent</label>
    <input type="text" pattern="[0-9]*,?[0-9]{1,28}" class="form-control" id="cost" name="cost" value="@(Model.Cost!=(decimal)0.0?Model.Cost:null)" placeholder="0,0" required>
</div>
<div class="form-group">
    <label for="categoryId">Select category</label>
    <select class="form-control" id="categoryId" name="categoryId" required>
        @{
            @foreach (var category in Model.AvailableCategories)
            {
                @if (category.Id == Model.CategoryId) {
                    <option selected="selected" value="@(category.Id)">@(category.Name)</option>
                }
                else
                {
                    <option value="@(category.Id)">@(category.Name)</option>
                }
            }
        }
    </select>
</div>
<div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" id="comment" name="comment" rows="3">@(Model.Comment != "" ? Model.Comment : "")</textarea>
</div>
@if (Model.AvailableCategories.Count != 0)
{
    <button type="submit" class="btn btn-primary">Save changes</button>
}
else
{
    <button type="button" class="btn btn-primary" onclick="show()">Save changes</button>
}
